/*==============Services=================*/
.services-container {
    grid-template-columns: repeat(3, 1fr);
    background-image: url(../assets/img/paint-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: end;
    
}


.services-item {
    background-color: var(--container-color);
    border: 1px solid orange;
    padding: 2.5rem 1.8rem;
    border-radius: .5rem;
    position: relative;
    transition: all .5 ease;
}

/*Services Hover*/
.services-item:hover {
    background-color: var(--body-color);
    border-color: var(--border-color);
}

.services-icon {
    color: var(--first-color);
    font-size: 1.8rem;
}


.services-title {
    font-size: var(--h3-font-size);
    margin-block: 1.5rem 1rem;
}

.services-no {
    position: absolute;
    right: 2.5rem;
    top: 1rem;
    color: var(--title-color);
    font-size: 3.75rem;
    opacity: 0.07;
}

/*==============SKILLS=================*/
.skills-container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
}

.skills-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-titles,
.skills-description {
    padding-inline: 1.5rem;
}

.skills-name {
    font-size: var(--larger-font-size);
}

.skills-no {
    color: var(--title-color);
    font-size: var(--larger-font-size);
    font-weight: var(--weight-600);
}

.skills-description {
    margin-block: 1rem 1.8rem;
}

.skills-bar,
.skills-percentage {
    height: 2px;
}

.skills-bar {
    background-color: var(--border-color);
}

.skills-percentage {
    background-color: var(--first-color);
    position: relative;
}

.skills-percentage span{
    background-color: var(--first-color);
    width: 23px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -0.60rem;
}



