/*=============== Navegation Codes ===============*/
.card-menu {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    background-color: var(--body-color);
    color: #FFFFFF;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #FFFFFF;
}

.nav__logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.menu-container {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container li {
    margin-right: 20px;
}

.menu-container li a {
    color: var(--title-color);
    padding: 10px;
    transition: color 0.3s;
}

.menu-container li a:hover,
.menu-container li a.active {
    color: rgb(255, 158, 12);
}

/*=============== First Section ===============*/
.section-container {
    padding: 13rem 3rem;
    background-color: var(--container-color);
    background-image: url(../assets/gif/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-small {
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-color);
}

.home-title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--title-color);
}

.information {
    width: 50%;
    margin-block: 1.5rem 3rem;
    font-size: 1rem;
    color: var(--text-color);
}

/*=============== BUTTON ===============*/
.btn {
    display: inline-block;
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
    color: var(--white);
    padding: 0.9rem 2.2rem;
    font-size: var(--large-font-size);
    border-radius: 0.5rem;
    transition: all 0.5s ease;
}

.btn-transparent {
    background-color: transparent;
    color: var(--first-color);
}

.btn:hover {
    background-color: var(--first-color-dark);
}

.btn-transparent:hover {
    background-color: var(--first-color);
    color: var(--white);
}

/*=============== Main Section ===============*/
main {
    background-color: var(--body-color);
    color: var(--text-color);
}

/*=============== First Article ===============*/
.article-container {
    padding: 20px 30px;
    margin-bottom: 27px;
}

.about, .card-article {
    display: inline;
    position: relative;
    padding: 20px;
}

.card-article {
    width: 59%;
    position: absolute;
    right: 5%;
    margin-top: 100px;
}

.about {
    min-height: 480px;
    background-image: url(../assets/img/paint-4.png);
    background-repeat: no-repeat;
    background-position: end;
}

/* Descriptions */
.card-sub {
    text-transform: uppercase;
    color: var(--first-color-dark);
}

.data-title, .sub-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* CV Button */
.btn-cv {
    display: block;
    width: 21%;
    padding: 20px 30px;
    margin-top: 20px;
    text-align: center;
}

/*=============== QUALIFICATION ===============*/
.section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Asegura que el contenido esté alineado al principio */
    align-items: center;
    min-height: 100vh; /* Ocupa toda la pantalla */
    padding-top: 3rem; /* Ajustar para darle espacio desde la parte superior */
}

/* Estilo para el título de la sección */
.section__title {
    font-size: var(--h1-font-size);
    margin-bottom: 1rem;
    text-align: center;
}

/* Mover el subtítulo hacia la parte superior */
.section__subtitle {
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
    text-align: center;
    position: relative; /* Mantiene la posición dentro del flujo normal */
    top: -1rem; /* Ajusta este valor para mover hacia arriba el subtítulo */
    color: var(--text-color);
}


.qualification__container {
    max-width: 768px;
    width: 100%;
    padding: 2rem;
    text-align: center;
}

/* Centrar las pestañas de "Education" y "Experience" */
.qualification__tabs {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Espacio entre los botones */
    margin-bottom: var(--mb-2);
}

.qualification__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.qualification__button:hover {
    color: var(--primary-color);
}

.qualification__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification__active {
    color: rgb(255, 158, 12);
}

/* Centrar el contenido de las secciones */
.qualification__sections {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.qualification__content {
    display: none;
}

.qualification__content-active {
    display: block;
}

/* Mejor alineación de los datos de la calificación */
.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    align-items: center;
    position: relative; /* Aseguramos que los elementos estén bien posicionados */

}

.qualification__line {
    display: block;
    height: 100%; /* Ajuste esto si la línea no se dibuja completamente */
    background-color: rgb(255, 158, 12);
    position: absolute;
    top: 0; /* Asegura que comience desde el principio del contenedor */
}


.qualification__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 0.5rem;
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.qualification__calendar {
    font-size: var(--small-font-size);
}


/* Botón de vuelta arriba */
.back-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
}

.back-top .bx-chevron-up {
    font-size: 50px;
    color: white;
}

.bx-chevron-up:hover {
    color: var(--first-color-dark);
}


/*=============== Float Content ===============*/
.content-float {
    margin-top: 60px;
    margin-left: 40px;
    width: 90%;
    height: 100%;
    padding: 20px;
}

.float-left {
    float: left;
    padding-right: 10px;
}

.clear-left {
    clear: both;
}

.title-float {
    font-size: 30px;
    padding: 15px 20px;
    font-weight: bold;
}

.des-float {
    font-size: 15px;
}
